Repository Hous-Release/hous-AOS, pull requests merged in 2023-08, with the labels that each got.

#284 #282 [ui] 홈뷰 성향테스트 변경사항 반영
  app/build.gradle.kts
  app/src/main/java/hous/release/android/presentation/hous/HousFragment.kt
  app/src/main/java/hous/release/android/presentation/personality/result/PersonalityResultActivity.kt
  app/src/main/java/hous/release/android/presentation/personality/result/PersonalityResultViewModel.kt
  app/src/main/java/hous/release/android/presentation/personality/test/PersonalityTestFragment.kt
  app/src/main/java/hous/release/android/presentation/profile/ProfileFragment.kt
  app/src/main/java/hous/release/android/presentation/profile/homie/HomieProfileActivity.kt
  app/src/main/java/hous/release/android/util/binding/BindingAdapters.kt
  app/src/main/res/drawable/ic_hous_copy_code.xml
  app/src/main/res/drawable/ic_hous_personality_empty.xml
  app/src/main/res/layout/activity_personality_result.xml
  app/src/main/res/layout/fragment_hous.xml
  app/src/main/res/values/strings.xml
  build.gradle.kts
  buildSrc/src/main/java/Deps.kt
  data/src/main/java/hous/release/data/entity/response/HousResponse.kt
  domain/src/main/java/hous/release/domain/entity/response/Hous.kt
Labels: 영주🐼, ui, Pull Request🔥

#287 #286 [ui] 로그인뷰 하단 안내문구 추가
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/strings.xml
Labels: 영주🐼, ui, Pull Request🔥

#278 #269 [Feat] add Rule 서버 통신 및 usecase
  app/src/main/java/hous/release/android/presentation/our_rules/component/PhotoGrid.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/main/DetailRuleBottomSheetContent.kt
  app/src/main/java/hous/release/android/presentation/practice/ContentUriRequestBody.kt
  app/src/main/java/hous/release/android/presentation/practice/MultipartConvertor.kt
  data/src/main/java/hous/release/data/datasource/RuleDataSource.kt
  data/src/main/java/hous/release/data/entity/request/AddRulesRequest.kt
  data/src/main/java/hous/release/data/entity/request/rule/AddRulesRequest.kt
  data/src/main/java/hous/release/data/repository/DefaultRuleRepository.kt
  data/src/main/java/hous/release/data/repository/RulePhotoRepository.kt
  data/src/main/java/hous/release/data/service/RuleService.kt
  data/src/main/java/hous/release/data/util/MultipartUtils.kt
  domain/src/main/java/hous/release/domain/enums/PhotoURL.kt
  domain/src/main/java/hous/release/domain/repository/PhotoRepository.kt
  domain/src/main/java/hous/release/domain/repository/RuleRepository.kt
  domain/src/main/java/hous/release/domain/usecase/rule/AddNewRuleUseCase.kt
  domain/src/main/java/hous/release/domain/usecase/rule/PostAddRulesUseCase.kt
Labels: 준원🐻, feat, fix, Pull Request🔥

#289 #279 [refactor] compose textfield
  app/src/main/java/hous/release/android/util/component/ToDoUserScreen.kt
  designsystem/src/main/java/hous/release/designsystem/component/HousFloatingButton.kt
  designsystem/src/main/java/hous/release/designsystem/component/HousTextField.kt
  designsystem/src/main/res/values/strings.xml
  feature/todo/src/main/java/hous/release/feature/todo/detail/TodoDetailScreen.kt
Labels: 원용🐉, refactor, Pull Request🔥

#296 #270 [Feat] 규칙 추가 api, ui, usecase 구현 / 이미지 캐싱 방식 수정
  app/build.gradle.kts
  app/src/main/java/hous/release/android/di/ReducerModule.kt
  app/src/main/java/hous/release/android/di/RepositoryModule.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/BasicUpdateRuleScreen.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/LoadingBar.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/PhotoGrid.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/RuleAddPhotoButton.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/RulePhotoStatusBar.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/RuleToolbar.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/add/AddRuleGuideTitle.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/dialog/AddRuleLimitedDialog.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/dialog/AddRuleOutDialog.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/dialog/DeleteRuleDialog.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/dialog/UpdateRuleOutDialog.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/main/MainRuleContent.kt
  app/src/main/java/hous/release/android/presentation/our_rules/component/main/MainRuleList.kt
  app/src/main/java/hous/release/android/presentation/our_rules/event/AddRuleReducer.kt
  app/src/main/java/hous/release/android/presentation/our_rules/event/MainRuleReducer.kt
  app/src/main/java/hous/release/android/presentation/our_rules/graph/RuleNavGraph.kt
  app/src/main/java/hous/release/android/presentation/our_rules/model/DetailRuleUiModel.kt
  app/src/main/java/hous/release/android/presentation/our_rules/screen/AddRuleScreen.kt
  app/src/main/java/hous/release/android/presentation/our_rules/screen/MainRuleScreen.kt
  app/src/main/java/hous/release/android/presentation/our_rules/viewmodel/AddRuleViewModel.kt
  app/src/main/java/hous/release/android/presentation/our_rules/viewmodel/MainRuleViewModel.kt
  app/src/main/java/hous/release/android/util/BitmapDecoder.kt
  app/src/main/java/hous/release/android/util/component/ToDoUserScreen.kt
  app/src/main/res/raw/loading.json
  app/src/main/res/values/strings.xml
  buildSrc/src/main/java/Deps.kt
  data/src/main/java/hous/release/data/datasource/RuleDataSource.kt
  data/src/main/java/hous/release/data/entity/response/rule/CanAddRuleResponse.kt
  data/src/main/java/hous/release/data/entity/response/rule/DetailRuleResponse.kt
  data/src/main/java/hous/release/data/repository/PhotoRepositoryImpl.kt
  data/src/main/java/hous/release/data/repository/RuleRepositoryImpl.kt
  data/src/main/java/hous/release/data/service/RuleService.kt
  data/src/main/java/hous/release/data/util/MultipartUtils.kt
  data/src/main/java/hous/release/data/util/image/FileNameFormatter.kt
  data/src/main/java/hous/release/data/util/image/LocalImageCacher.kt
  data/src/main/java/hous/release/data/util/image/RemoteImageCacher.kt
  data/src/main/java/hous/release/data/util/multipart/MultipartExtension.kt
  data/src/test/java/hous/release/data/repository/RuleRepositoryImplTest.kt
  designsystem/src/main/java/hous/release/designsystem/component/HousTextField.kt
  domain/src/main/java/hous/release/domain/entity/rule/DetailRule.kt
  domain/src/main/java/hous/release/domain/enums/PhotoURL.kt
  domain/src/main/java/hous/release/domain/enums/PhotoUri.kt
  domain/src/main/java/hous/release/domain/repository/PhotoRepository.kt
  domain/src/main/java/hous/release/domain/repository/RuleRepository.kt
  domain/src/main/java/hous/release/domain/usecase/rule/AddRuleUseCase.kt
  domain/src/main/java/hous/release/domain/usecase/rule/CanAddRuleUseCase.kt
  domain/src/main/java/hous/release/domain/value/PhotoURL.kt
  domain/src/main/java/hous/release/domain/value/PhotoUri.kt
  feature/todo/src/main/java/hous/release/feature/todo/detail/TodoDetailScreen.kt
Labels: 준원🐻, feat, Pull Request🔥

#298 #294 [Feat] Rule 수정 api, usecase
  data/src/main/java/hous/release/data/datasource/RuleDataSource.kt
  data/src/main/java/hous/release/data/entity/request/EditRulesRequest.kt
  data/src/main/java/hous/release/data/entity/request/rule/UpdateRuleRequest.kt
  data/src/main/java/hous/release/data/repository/PhotoRepositoryImpl.kt
  data/src/main/java/hous/release/data/repository/RuleRepositoryImpl.kt
  data/src/main/java/hous/release/data/service/RuleService.kt
  domain/src/main/java/hous/release/domain/repository/RuleRepository.kt
  domain/src/main/java/hous/release/domain/usecase/rule/PutEditOurRulesUseCase.kt
  domain/src/main/java/hous/release/domain/usecase/rule/UpdateRuleUseCase.kt
Labels: 준원🐻, feat, Pull Request🔥

#290 #281 [ui/feat] 피드백보내기 및 탈퇴하기 뷰/서버 구현
  app/src/main/java/hous/release/android/presentation/settings/SettingsActivity.kt
  app/src/main/java/hous/release/android/presentation/withdraw/WithdrawActivity.kt
  app/src/main/java/hous/release/android/presentation/withdraw/WithdrawViewModel.kt
  app/src/main/java/hous/release/android/presentation/withdraw/feedback/FeedbackFragment.kt
  app/src/main/java/hous/release/android/presentation/withdraw/feedback/FeedbackViewModel.kt
  app/src/main/java/hous/release/android/presentation/withdraw/withdraw/WithdrawFragment.kt
  app/src/main/java/hous/release/android/presentation/withdraw/withdraw/WithdrawViewModel.kt
  app/src/main/java/hous/release/android/presentation/withdraw/withdrawDone/WithdrawDoneFragment.kt
  app/src/main/res/drawable/ic_withdraw_checked.xml
  app/src/main/res/drawable/ic_withdraw_feedback_down.xml
  app/src/main/res/drawable/ic_withdraw_unchecked.xml
  app/src/main/res/drawable/selector_withdraw_spinner.xml
  app/src/main/res/layout/activity_profile_edit.xml
  app/src/main/res/layout/activity_withdraw.xml
  app/src/main/res/layout/fragment_feedback.xml
  app/src/main/res/layout/fragment_withdraw.xml
  app/src/main/res/layout/fragment_withdraw_done.xml
  app/src/main/res/navigation/nav_withdraw.xml
  app/src/main/res/values/strings.xml
  data/src/main/java/hous/release/data/datasource/AuthDataSource.kt
  data/src/main/java/hous/release/data/datasource/SettingsDataSource.kt
  data/src/main/java/hous/release/data/entity/request/DeleteUserRequest.kt
  data/src/main/java/hous/release/data/entity/request/FeedbackRequest.kt
  data/src/main/java/hous/release/data/repository/AuthRepositoryImpl.kt
  data/src/main/java/hous/release/data/repository/SettingsRepositoryImpl.kt
  data/src/main/java/hous/release/data/service/AuthService.kt
  data/src/main/java/hous/release/data/service/SettingsService.kt
  domain/src/main/java/hous/release/domain/entity/FeedbackType.kt
  domain/src/main/java/hous/release/domain/repository/AuthRepository.kt
  domain/src/main/java/hous/release/domain/repository/SettingsRepository.kt
  domain/src/main/java/hous/release/domain/usecase/ClearLocalPrefUseCase.kt
  domain/src/main/java/hous/release/domain/usecase/DeleteUserUseCase.kt
  domain/src/main/java/hous/release/domain/usecase/PostFeedbackUseCase.kt
Labels: 영주🐼, feat, ui, Pull Request🔥
